---
export interface Props {
  platform: string;
  username: string;
}

const { platform, username }: Props = { platform: "", username: "" };
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
